$mainColor0:#ff798b;
$mainColor :#f598a4;
$mainColor2:#ffdde1;
$fontColor: #fff;
$porderColor:#f88191;
$btnColor:#ff7283;
$shadoColor:rgba(27, 27, 27, 0.8);



$font-family-for-header: 'Tangerine', serif;
$img-marjen:50px;
$img-hight:310px;
// font-family: 'Tangerine', serif;
// font-size: 48px;