$mainColor0:#1e1f2690;
$mainColor :#292c3590;
$mainColor2:#37384290;
$fontColor: #fff;
$porderColor:#1d1d1d;
$btnColor:#000000;
$shadoColor:rgba(27, 27, 27, 0.8);
$gluwColor:rgb(71, 71, 71);
$textShadow:#4e4e4e;
$activeColor :#02b7ff;



$font-family-for-header: 'Tangerine', serif;
$img-marjen:50px;
$img-hight:300px;
$img-tab-hight:250px;
$img-phone-hight:200px;

$sectionPading:60px
// font-family: 'Tangerine', serif;
// font-size: 48px;