* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #292c3590;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #fff;
  position: relative;
}

.resume .main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(#37384290, #292c3590);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.resume nav {
  width: 100%;
}

.resume nav .UPUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(27, 27, 27, 0.8), inset 0px -1px 3px rgba(27, 27, 27, 0.8);
          box-shadow: 0 0 3px rgba(27, 27, 27, 0.8), inset 0px -1px 3px rgba(27, 27, 27, 0.8);
  background: #37384290;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .25s;
  transition: .25s;
}

.resume nav .transNAv {
  background: #37384290;
  height: 20px;
}

.resume nav .downUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0%;
  color: #fff;
  z-index: 4;
}

.resume nav .downUL li {
  list-style: none;
}

.resume nav .downUL li a {
  top: 0;
  text-decoration: none;
  color: #fff;
  position: fixed;
  padding: 20px 5px 10px 5px;
  border-radius: 2px 2px 15px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.199);
  z-index: 3;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(27, 27, 27, 0.8), inset 0 -2px 5px rgba(255, 255, 255, 0.411);
          box-shadow: 0px 2px 5px 2px rgba(27, 27, 27, 0.8), inset 0 -2px 5px rgba(255, 255, 255, 0.411);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.resume nav .downUL li .visited {
  background: #fff;
  color: #000;
  font-weight: 700;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
  padding: 35px 5px 10px 5px;
}

.resume nav .downUL li a:hover {
  background: #fff;
  color: #000;
  font-weight: 700;
  -webkit-box-shadow: 0 0 7px #fff;
          box-shadow: 0 0 7px #fff;
}

.resume .Me {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  position: relative;
}

.resume .Me big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.resume .Me big div:nth-child(2) {
  padding: 0 40px;
}

.resume .Me big div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  color: #fff;
}

.resume .Me big div:nth-child(1) .star {
  position: relative;
}

.resume .Me big div:nth-child(1) .star img {
  margin-top: 50px;
  height: 300px;
  border-radius: 50% 50%;
  -webkit-filter: drop-shadow(0px 10px 5px rgba(27, 27, 27, 0.8)) saturate(0.7);
          filter: drop-shadow(0px 10px 5px rgba(27, 27, 27, 0.8)) saturate(0.7);
  z-index: 3;
}

.resume .Me big div:nth-child(1) .star .backggrondForimg {
  position: absolute;
  margin-top: 50px;
  padding: 150px;
  border-radius: 50%;
  background: radial-gradient(#292c3590, #37384290);
  -webkit-box-shadow: 0 0 3px rgba(27, 27, 27, 0.8), inset 0 0 3px rgba(27, 27, 27, 0.8);
          box-shadow: 0 0 3px rgba(27, 27, 27, 0.8), inset 0 0 3px rgba(27, 27, 27, 0.8);
}

.resume .Me big h1 {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(27, 27, 27, 0.8);
}

.resume .Me big span {
  color: #ff0d0d;
}

.resume .Me big p {
  text-align: center;
}

.resume .Me small .sidepar {
  position: fixed;
  margin-top: 20px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.resume .Me small .sidepar li {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50%;
}

.resume .Me small .sidepar li a {
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #000000;
  padding: 8px;
  border-radius: 50%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.resume .Me small .sidepar li a:hover {
  color: #000000;
  text-shadow: 0 0 15px #000000;
  background: #fff;
}

@media only screen and (max-width: 900px) {
  .resume .Me {
    padding: 10px;
  }
  .resume .Me big {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .resume .Me big div:nth-child(1) .star img {
    height: 200px !important;
  }
  .resume .Me big div:nth-child(1) .backggrondForimg {
    padding: 100px !important;
  }
}

@media only screen and (max-width: 500px) {
  .resume .Me {
    padding: 10px;
  }
  .resume .Me big {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .resume .Me big h1 {
    margin: 15px 0 0 0;
    font-size: 30px;
    text-align: center;
  }
  .resume .Me big p {
    font-size: 15px;
  }
  .resume .Me big div:nth-child(1) .star img {
    height: 200px !important;
  }
  .resume .Me big div:nth-child(1) .backggrondForimg {
    padding: 100px !important;
  }
}
/*# sourceMappingURL=resume.css.map */